html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}
body {
    margin: 0px;
<<<<<<< HEAD
}
    
.top-section {
=======
    }
    
    .top-section {
>>>>>>> e7809da322f0232b6b833e28837763b5b2ef1030
    background-color: rgb(174, 200, 255);
    margin: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
<<<<<<< HEAD
}
=======
    }



   
>>>>>>> e7809da322f0232b6b833e28837763b5b2ef1030
